<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | New</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%; height: 100%;}
        .post-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            float: left;
        }
        .post-grid:before {
            content: none;

        }
        .post-grid:after {
            content: none;            
        }
        .panel-heading > img {
            width: 5%;
            height: 5%;
        }
        /* .panel-heading > img:before {
            content: none;
        }
        .panel-heading > img:after{
            content: none;
        } */
    </style>

</head>
<body>
    <%- include('partials/navbar') %>
<div class="container">
    <!-- <% if (title) { %>
        <h2><%= title %></h2>
    <% } %> -->
    <div class="panel panel-danger">
        <div class="panel panel-heading text-center">
            <h1>All Posts</h1>
        </div>
        <div class="panel-body" id="all">

            <% if (message) { %>
                <div class="alert alert-success" role="alert">
                    <%= message %>
                </div>
                <% } %>

                    <a href="/create">
                        <div class="col-xs-1 col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="https://png.icons8.com/ios/1600/add.png">
                                </div>
                                <div class="panel-footer">
                                    Create New Post
                                </div>
                            </div>
                        </div>
                    </a>
                    <% posts.posts.forEach(function(post){ %>
                        <a href="/view/<%-post.id %>">
                            <div class="col-xs-1 col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <img src="<%-post.avatar %>"><%-post.name %>
                                    </div>
                                    <div class="panel-body post-grid">
                                        <div class="panel post-imgg"><img src="<%-post.image %>"></div>
                                        <div class="panel post-txt"><%-post.text %></div>
                                    </div>
                                    <!-- <div class="panel-footer">
                                        <%-post.name %>
                                    </div> -->
                                </div>
                            </div>
                        </a>
                        <% }); %>

        </div>
        <div class="panel-footer text-center">
            <p>All rights reserved 2018 | Cbazil.</p>
        </div>
    </div>
</div>


</body>
</html>