<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hero App | New</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <style>
        body { padding-top:15px; background-color: #ccc;}
        img { width: 100%;}
    </style>
              <meta charset="UTF-8">
              <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
              <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
              <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
              <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
              <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
</head>
<body>

    <div class="container">
        <div class="panel panel-danger">
            <div class="panel panel-heading text-center">
                <h1>Update Post</h1>
            </div>
            <div class="panel-body" id="all">

                <% if (message) { %>
                <div class="alert alert-success" role="alert">
                    <%= message %>
                </div>
                <% } %> 
                
                <form method="POST" action="">

                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputName">Anime name</label>
                        <input type="text" class="form-control" id="exampleInputName" aria-describedby="heroName" placeholder="Enter Hero Name" name="aniName" value="<%= post.aniName %>">
                        <!-- <small id=heroName" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputURL">Cover URL link</label>
                        <input type="text" class="form-control" id="exampleInputURL" placeholder="Link to hero image" name="image_url" value="<%= post.image %>">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputURL">Genres:</label>
                        <input type="text" class="form-control" id="exampleInputURL" placeholder="Link to hero image" name="image_url" value="<%= post.genre %>">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputURL">Author:</label>
                        <input type="text" class="form-control" id="exampleInputURL" placeholder="Link to hero image" name="image_url" value="<%= post.author %>">
                    </div>
                    <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3">
                        <label for="exampleInputURL">Description</label>
                        <!-- <input type="text" class="form-control" id="exampleInputURL" placeholder="Link to hero image" name="image_url" value="<%= post.description %>"> -->
                        <textarea id="summernote" name="description"><%= post.description %> </textarea>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                        <button type="submit" class="btn btn-success btn-block">Add Hero</button>
                    </div>

                </form>

            </div>
            <div class="panel-footer text-center">
                <p>All rights reserved 2018 | Nate.</p>
            </div>
        </div>
    </div>
    <script>
            $(document).ready(function() {
                $('#summernote').summernote();
            });
    </script>
</body>
</html>